

<table>
    <thead>
        <tr>
            <td><span v-if="!!properties['is_static']">Static</span> {{access}}</td>
            <td>
                <span v-if="!!properties['is_generator']">Generator</span>
                <span v-if="!!properties['is_async']">ASync</span>
                {{kind}}
            </td>
        </tr>
        <tr>
            <th colSpan="2">
                <h4 v-if="!!properties['deprecated']"><s>{{name}}</s> <small><small><sup>deprecated</sup></small></small></h4>
                <h4 v-if="!properties['deprecated']">{{name}}</h4>
            </th>
        </tr>
        <tr v-if="properties['kind'] === 'class'">
            <th colSpan="2">
                <a href="{{index_path}}">Go to index</a>
            </th>
        </tr>
        <tr v-if="properties['kind'] === 'class'">
            <th colSpan="2">
                <a href="{{sourc_path}}">Go to source</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <trs v-if="properties['params'].length > 0">
            <td>
                <h4>params</h4>
            </td>
            <td>
                <table>
                    <tr v-for="param in params">
                        <td><b>{{param}}</b></td>
                        <td><code>{{param_name}}</code></td>
                    </tr>
                </table>
            </td>
        </trs>
        <tr v-if="!!properties['return']">
            <td>
                <h4>returns</h4>
            </td>
            <td>
                <pre><code>{{return}}</code></pre>
            </td>
        </tr>
        <tr v-if="!!properties['todo']">
            <td>Todo</td>
            <td colSpan="3">{{todo}}</td>
        </tr>
        <tr v-if="!!properties['description']">
            <td>Description</td>
            <td colSpan="3">
                {{description}}
            </td>
        </tr>
        <tr v-if="!!properties['see']">
            <td>See</td>
            <td colSpan="3" content="md"><a href="{{see}}">{{see}}</a></td>
        </tr>
    </tbody>
    <tfoot>
    <tr v-if="!!properties['licence'] || !!properties['author']">
        <td>{{licence}}</td>
        <td>{{author}}</td>
    </tr>
    <tr v-if="!!properties['copyright'] || !!properties['version']">
        <td>{{copyright}}</td>
        <td>{{version}}</td>
    </tr>
    </tfoot>
</table>

<h3 v-if="!!properties['example']">example</h3>

{{example}}

