[Go back to index]({{index_path}})
---
<table>
    <thead>
        <tr>
            <th colSpan="4">
                <pre><code>{{name}}</code></pre>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{access}}</td>
            <td>{{kind}}</td>
            <td><span v-if="is_static">Static</span></td>
            <td><span v-if="async">ASync</span></td>
        </tr>
        <tr>
            <td>{{since}}</td>
            <td><span v-if="deprecated"><b>Deprecated</b></span></td>
            <td><span v-if="is_generator">Generator</span></td>
            <td></td>
        </tr>
        <tr v-if="params">
            <td colSpan="4">
                <h4>params</h4>
            </td>
        </tr>
        <tr v-for="param in params">
            <td colspan="2"><b>{{param}}</b></td>
            <td colspan="2"><code>{{param_name}}</code></td>
        </tr>
        <tr v-if="return">
            <td colSpan="4">
                <h4>returns</h4>
            </td>
        </tr>
        <tr v-if="return">
            <td colSpan="4">
                <h4><pre>{{return}}</pre></h4>
            </td>
        </tr>
        <tr v-if="todo">
            <td>Todo</td>
            <td colSpan="3">{{todo}}</td>
        </tr>
        <tr v-if="description">
            <td>Description</td>
            <td colSpan="3">
                {{description}}
            </td>
        </tr>
        <tr v-if="see">
            <td>See</td>
            <td colSpan="3" content="md"><a href="{{see}}">{{see}}</a></td>
        </tr>
    </tbody>
    <tfoot>
    <tr v-if="author">
        <td>{{licence}}</td>
        <td>{{copyright}}</td>
        <td>{{author}}</td>
        <td>{{version}}</td>
    </tr>
    </tfoot>
</table>

[source_code]({{source_code}})

<h3 v-if="example">example</h3>

{{example}}

